@import "../../common.less";

.row-right{
  .disT();.w(100%);vertical-align: middle;.bgc(#fff);.h(24px);.pd(5px 0);
  .days-btn{
    .h(24px); .float-left();  .w(350px);.mg-left(10px);box-sizing: border-box;
    li{
      .disTC();  .lh(24px);  .pd(0 10px);  .pointer();  .br(4px);  .c(@word);.pr();
      .smalltip{.pa();display: none; .top(30px);}
    }
    li:hover .smalltip{
      display: block;
    }
    li.active{ .bgc(@body-theme);  .c(white);  }
  }
  .diyDate{
    .disIB();
    //.mg-left(125px);
    .date{
      .icon{
        .float-left();  .lh(24px);  .pd(0 7px);.pd-right(20px);
      }
      .w(100%);  .h(24px);  .lh(24px);  .c(@word);  .tc();  .disB();  .bgc(#fff);  .br(2px);
    }
  }
}