@import "../common.less";
@h: 50px;
@left-w: 180px;


.footer1 {
  .pr();
  .z(1030);
  max-height: 100px;
  .bottom(0);
  .left(0);
  .right(0);
  .tc();
  .mg-top(10px);
  .w(100%);
  .lh(5px);
  padding: 15px 0;
  p {
    span {
      .c(#99CCFF);
    }
    .c(#000);
  }
}
@media screen and (max-width: 600px){
  .footer1{
    max-height: 88px;
    text-align: left;
    margin: 0;
    padding: 0;;
    .lh(14px);
    .pd-top(10px);
  }
}