@import "../../common.less";

.mh(@height){max-height:@height;}
.dasd(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
html,body {
  .pr();
  .h(100%);
}
.swiper-box {
  .w(100%);
  height:100% !important;
  .mgc(0 auto);
  overflow: hidden;
  cursor: auto !important;
  .item-1{
    background: url("../images/login-bg-1.jpg") no-repeat;.pr();
    background-size: 100% 100%;
    .ball{
      .disB();.mgc(0);.w(65%);.pa();.top(0);
      img{.disB();.pa();.top(0);.left(0);.right(0);.bottom(0);.w(70%);.mgc(0);}
      //img:active{transform: scale(1.3);}
    }
    .navigation{
       .pa();.top(35%);.h(60px);
      h2{.disB();.mgc(0);.f(46px);.c(#fff);.ff('Microsoft Yahei')}
    }
    .login-btn{
      .pa();.top(50%);.h(60px);
      img{.disB();.mgc(0);}
    }
    .introduce{
      .pa();.top(80%);.h(200px);
      .conBox{
        .w(775px);.h(100%);text-align:left;
        p{ .f(16px);.ff('Microsoft Yahei');.c(#fff);}
      }
    }
  }
  .item-1:hover .item-1>.ball{.w(65%);}
}
.sliderimg {.w(100%); .h(100%);}
.swiper-item {

  .tc();
  .bgsize(100% 100%);
  .dasd();
}

