@import "../../common.less";

.tips{
  .fa-angle-up{.pa();.left(15px);.top(-12px);.bgc(#f9f9f9);.lh(18px);}
  .content{.w(235px);.h(40px);.bgc(#fff);.b(1px solid #bda2bf);border-radius:4px;padding: 5px;}
  .content::before{
    content: '';.w(0);.h(0);border: 10px solid transparent;.pa();border-bottom-color:#bda2bf;.top(-18px);.left(10px);
  }
  .content::after{
    content: '';.w(0);.h(0);border: 10px solid transparent;.pa();border-bottom-color:#fff;.top(-17px);.left(10px);
  }
}
