
@import "components/common.less";
@import "components/animate.less";
@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/font-awesome/less/font-awesome.less";


html{
  .h(100%);    .f(62.5%);
  -webkit-user-select:​ none;
  -webkit-tap-highlight-color: none;
}
body{
  min-height: 100%;  .f(62.5%);
  -webkit-font-smoothing: antialiased;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

[v-cloak] {
  display: none;
}

html,div,p,ul,li,form,span {
  user-select:none;
}

li{
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

a,a:hover,a:active,a:visited,a:link{
  text-decoration: none; .c(inherit);
}

html,body,*{
  font-family: "microsoft yahei","Helvetica Neue","Helvetica","Arial","sans-serif";
  //letter-spacing: 0.1rem;
  .pd(0);  .mg(0);  .b0();
  -webkit-font-smoothing: antialiased;
}
body{.bgc(@body-bg);}

@keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@-webkit-keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}


