@import "../../common.less";

.left-side{
  .bgc(#f4f4f4);  .top(4.3rem);  .w(18rem); .float-left();//  .pa();
  min-height: 100%;   .disB();
  .sidebar{
    .b-bottom(1px solid #fff);    .mg-bottom(0.5rem);
    .user-panel{
      .pd(1rem);
      .pull-left{
        .float-left();
        img{  .b(1px solid #dfdfdf);  .w(4.5rem);  .h(4.5rem); }
      }
      .info{
        .c(#555);  .fw(600);   .pd(0.5rem 0.5rem 0.5rem 1.5rem);  .f(1.4rem);  .lh(1);
        p{  .mg-bottom(0.9rem);  }
        a{
          .pd-right(0.5rem);  .mg-top(0.3rem);  .f(1.1rem);  .fw(normal);
          text-decoration: none;   .c(#555);
          .fa{
            .mg-right(0.3rem);  .disIB();  .w(0.9rem);  .h(0.9rem);  .br(0.9rem);
            font-style: normal;  .fw(normal);  .lh(1);  .bgc(#3c673d);
            -webkit-font-smoothing: antialiased;  font-family: FontAwesome;
          }
          .fa-circle:before {
            content: "\f111";
          }
        }
      }
    }
    .user-panel:after {
      clear: both;
      display: table;
      content: " ";
    }

    .sidebar-form{
      .br(0.2rem);  .b(1px solid #dbdbdb);  .mg(1rem);  .disB();
      .input-group{
        input[type="text"]{
          .c(#666);  .bgc(#fafafa);  .b(1px solid #fafafa);   .h(3rem);
          border-top-left-radius: 2px !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 2px !important;
          box-shadow: none;
        }
        input[type="text"]:focus{.bgc(#fff);}
        .btn{
          .c(#999);  .bgc(#fafafa);  .b(1px solid #fafafa);   .h(3rem);  .fw(500);
          .b-left(1px solid #dbdbdb);
          border-top-left-radius: 0 !important;
          border-top-right-radius: 2px !important;
          border-bottom-right-radius: 2px !important;
          border-bottom-left-radius: 0 !important;
          box-shadow: none;
        }
      }
    }

    .sidebar-menu{  list-style: none;  .mg(0);  .pd(0);  }
    .sidebar-menu > li:first-of-type {
      .b-top(1px solid #dbdbdb);
      >a{ .b-top(1px solid #fff); }
    }
    .sidebar-menu > li{
      .b-top(1px solid #fff);  .b-bottom(1px solid #dbdbdb);  .mg(0);  .pd(0);
      >a{
        .mg-right(0.1rem); .pd(1.2rem 0.5rem 1.2rem 1.5rem);   .disB();  .c(#222);
        //.b-top(1px solid #fff);  .b-bottom(1px solid #dbdbdb);
        .fa{  .w(2rem);  }
      }
      >.treeview-menu{
        .mg(0 0.1rem);   .bgc(#f9f9f9);  .pd(0);
        >li{
          .mg(0);
          >a{
            .pd(0.5rem 0.5rem 0.5rem 1.5rem);  .disB();  .f(1.4rem);  .mg(0);  .c(#777);
            .fa{ .w(2rem); }
          }
        }
        >li.active > a, >li > a:hover{  .c(#111);  }
      }
    }
    .sidebar-menu > li.active > a,.sidebar-menu > li > a:hover{
      .c(#222);  .bgc(#f9f9f9);
    }
  }
}

/* 必需 */
.expand-transition {
  transition: all .6s ease;
  //display: block;
  .h(auto); .opacity(100);
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
  //display: none;
  .h(0);  .opacity(0);
}